<h2>Thank you for your pledge!</h2>
<form>
  <fieldset>
    <p class="intro">Please look for the message sent to the email address you provided to complete your donation. You’ve made a huge difference!</p>
    <p>Thanks,<br>The CrazyPumpkin team</p>
  </fieldset>
</form>
<br>
<p class="btns">{{#link-to 'donate_thanks' class="cta"}}Back to the team{{/link-to}}</p>