<h2 class="well-done group"><img src="assets/saved_creature.png"><br>Well done!</h2>

<p>This was your 3rd pledge!</p>

{{#link-to 'donate_request' class="cta next-house"}}Next house!{{/link-to}}
{{view App.ShareLinksView}}