<h2>Trick-or-Treat for UNICEF!</h2>
<form>
  <fieldset>
    <p class="intro">We are the CrazyPumpkin team, fundraising for UNICEF this Halloween! Please enter your email address to make a pledge. A form to finish your donation will be sent to you immediately.</p>
    <p><input type="email" placeholder="Email address" value="donor@gmail.com"></p>
    <p class="btns">{{#link-to 'donate_thanks_adult' class="submit"}}Send{{/link-to}}</p>
  </fieldset>
</form>

