<h2>Donate</h2>

<form class="donate-form">
  <fieldset>
    <legend>Billing information</legend>
    <div class="group">
      <p class="l"><input type="text" placeholder="First name"></p>
      <p class="r"><input type="text" placeholder="Last name"></p>
    </div>
    <p><input type="text" placeholder="Street"></p>
    <div class="group">
      <p class="l"><input type="text" placeholder="City"></p>
      <p class="r">
        <select id="state" name="state" class="us" value="" selected="selected">
          <option value="" selected="selected">State</option>
          <option value="AK">AK</option>
          <option value="AL">AL</option>
          <option value="AR">AR</option>
          <option value="AZ">AZ</option>
          <option value="CA">CA</option>
          <option value="CO">CO</option>
          <option value="CT">CT</option>
          <option value="DC">DC</option>
          <option value="DE">DE</option>
          <option value="FL">FL</option>
          <option value="GA">GA</option>
          <option value="HI">HI</option>
          <option value="IA">IA</option>
          <option value="ID">ID</option>
          <option value="IL">IL</option>
          <option value="IN">IN</option>
          <option value="KS">KS</option>
          <option value="KY">KY</option>
          <option value="LA">LA</option>
          <option value="MA">MA</option>
          <option value="MD">MD</option>
          <option value="ME">ME</option>
          <option value="MI">MI</option>
          <option value="MN">MN</option>
          <option value="MO">MO</option>
          <option value="MS">MS</option>
          <option value="MT">MT</option>
          <option value="NC">NC</option>
          <option value="ND">ND</option>
          <option value="NE">NE</option>
          <option value="NH">NH</option>
          <option value="NJ">NJ</option>
          <option value="NM">NM</option>
          <option value="NV">NV</option>
          <option value="NY">NY</option>
          <option value="OH">OH</option>
          <option value="OK">OK</option>
          <option value="OR">OR</option>
          <option value="PA">PA</option>
          <option value="PR">PR</option>
          <option value="RI">RI</option>
          <option value="SC">SC</option>
          <option value="SD">SD</option>
          <option value="TN">TN</option>
          <option value="TX">TX</option>
          <option value="UT">UT</option>
          <option value="VA">VA</option>
          <option value="VT">VT</option>
          <option value="WA">WA</option>
          <option value="WI">WI</option>
          <option value="WV">WV</option>
          <option value="WY">WY</option>
          <option value="AA">AA</option>
          <option value="AE">AE</option>
          <option value="AP">AP</option>
        </select>
        <input type="text" name="zip" size="6" placeholder="Postal code">
      </p>
    </div>

    <p><input type="email" placeholder="Email address"></p>

    <p><input type="text" placeholder="Credit card number"></p>
    <div class="group">
      <p class="l">
        <input type="text" name="exp-month" placeholder="Month"> / <input type="text" name="exp-year" placeholder="Year">
        <label for="exp-month">Expiration date</label>
      </p>
      <p class="r">
        <input type="text" name="cvv" placeholder="CVV">
      </p>
    </div>
  </fieldset>

  <fieldset>
    <legend>Amount</legend>
    {{#each donationAmounts}}
    <button type="button" class="btn-amount" {{action 'setGoal' this}}>${{amount}}</button>
    {{/each}}

    <aside class="goal">
      <h4>Your donation gets&hellip;</h4>
      {{currentGoal}}
    </aside>

    <p>
      <label for="amount">
        Or enter your own amount:<br>
        $ <input type="text" name="amount" id="amount">
      </label>
    </p>

    <p class="btns"><input type="submit" value="Donate"></p>
  </fieldset>
</form>