<form>
  <fieldset>
    <legend>Donate Request to</legend>
    <p><input type="text" placeholder="Your name"></p>
    <p><input type="email" placeholder="Email address"></p>
    <p class="btns"><input type="submit" value="Send"></p>
  </fieldset>
</form>

