<h1><img src="assets/saved_creature.png"></h1>
<form>
  <fieldset>
    <legend>Share the experience to your friends!</legend>
    <p class="btns"><input type="submit" value="Share"><input type="submit" value="Skip"></p>
  </fieldset>
</form>