<section class="wrapper">
  <header>
    <h1><img src="assets/unicef-logo.png"></h1>
  </header>
  <section class="main-content">
    <nav class="nav-entry">
      <ul>
        <li>{{#link-to 'trick-or-treat' class="cta"}}Trick or Treat{{/link-to}}</li>
        <li>{{#link-to 'donate' class="cta"}}Donate{{/link-to}}</li>
      </ul>
    </nav>
  </section>
</section>