<h2>Help us save pumpkins from scary Jack!</h2>
<p>Every donation helps save one more pumpkin and keeps the world’s kids alive and healthy.</p>
  <p class="btns-centered group">
    <img class="jack" src="assets/creatures_in_danger.png" width="200">
    {{#link-to 'donate_request' class="cta trick-or-treat"}}Go Trick-or-Treat!{{/link-to}}
</p><br>

{{view App.ShareLinksView}}
