<h1>Help us to save creatures from scary Jack!</h1>
<h1>Ask for donation for UNICEF and get email. And after that one more creature will be safe!</h1>
<img src="assets/creatures_in_danger.png">
<form>
  <fieldset>
    <legend>Share the experience to your friends!</legend>
    <p class="btns"><input type="submit" value="Share"></p>
  </fieldset>
</form>