<h2>Thank you for helping!</h2>
<h3 class="nice-msg">You saved 3 pumpkins</h3>
<p class="saved-pumpkins">
  <img src="assets/saved_creature_icon.png">
  <img src="assets/saved_creature_icon.png">
  <img src="assets/saved_creature_icon.png">
</p>
{{view App.ShareLinksView}}