<h1>Thank you for helping!</h1>
<h1>You saved 5 creatures</h1>
<ul>
	<li><img src="assets/saved_creature_icon.png"></li>
	<li><img src="assets/saved_creature_icon.png"></li>
	<li><img src="assets/saved_creature_icon.png"></li>
	<li><img src="assets/saved_creature_icon.png"></li>
	<li><img src="assets/saved_creature_icon.png"></li>
</ul>
<form>
  <fieldset>
    <legend>Share the experience to your friends!</legend>
    <p class="btns"><input type="submit" value="Share"></p>
  </fieldset>
</form>