<h2>Trick or Treat!</h2>
<form>
  <fieldset>
    <legend>Sign in</legend>
    <input type="email">
    <input type="password">
    <input type="submit" "Sign in">
  </fieldset>

  <fieldset>
    <legend>Don't have an account?</legend>

  </fieldset>
</form>