<div class="group trick-or-treat-box">
  <img src="assets/box-transparent.png">
  <h2>Let's go<br>Trick-or-Treat!</h2>
</div>
<form>
  <fieldset>
    <p><input type="email" placeholder="Group ID Number" value="CrazyPumpkin"></p>
    <p><input type="password" placeholder="Password" value="123456"></p>
    <p class="btns">
      <a href="#">Forgot your password?</a>
      <!-- <input type="submit" value="Sign in"> -->
      {{#link-to 'statistics_empty' class="submit"}}Sign in{{/link-to}}
    </p>
  </fieldset>

  <fieldset>
    <legend>Don't have an account?</legend>
    <h4><a href="http://www.trickortreatforunicef.org" target="_blank">Join the Kids Helping Kids&reg; Movement!</a></h4>
    <!-- <p><input type="text" placeholder="Your full name"></p>
    <p><input type="email" placeholder="Email address"></p>
    <p><input type="password" placeholder="Password"></p>
    <p><input type="text" placeholder="Team name"></p>
    <p><label>Number of team members <input type="number" size="2"></label></p>
    <p class="btns"><input type="submit" value="Join now!"></p> -->
  </fieldset>
</form>