<h2>Trick-or-Treat!</h2>
<form>
  <fieldset>
    <legend>Sign in</legend>
    <p><input type="email" placeholder="Email address"></p>
    <p><input type="password" placeholder="Password"></p>
    <p class="btns"><a href="#">Forgot your password?</a> <input type="submit" value="Sign in"></p>
  </fieldset>

  <fieldset>
    <legend>Don't have an account?</legend>
    <h4>Join the Kids Helping Kids&reg; Movement!</h4>
    <p><input type="text" placeholder="Your full name"></p>
    <p><input type="email" placeholder="Email address"></p>
    <p><input type="password" placeholder="Password"></p>
    <p><input type="text" placeholder="Team name"></p>
    <p><label>Number of team members <input type="number" size="2"></label></p>
    <p class="btns"><input type="submit" value="Join now!"></p>
  </fieldset>
</form>