@import "mixins";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/**
 LAYOUT
 */
body {
  color: #000;
  font: 500 100%/1.2 $content_font;
}
a { color: $darker_blue; text-decoration: none; }
a:hover { text-decoration: underline; }

.group:after {
  content: "";
  display: table;
  clear: both;
}

.l, .r {
  width: 50%;
  input[type="text"], input[type="email"], input[type="number"], input[type="password"], textarea {
    width: 97%;
  }
}
.l { float: left; }
.r { float: right; }

.wrapper {
  width: 90%;
  margin: 1em auto;
}

h1 {
  text-align: center;
  img { width: 100px; }
}
.is-home h1 img { width: 203px; }
h2 { margin-top: 1em; font-size: 1.5em; margin-bottom: .5em; }
h3, legend {
  font-size: 1.3em;
  color: $orange;
  margin: .5em 0 .4em;
}
h4 {
  color: $dark_grey;
}
p { margin: .4em 0; }
fieldset {
  margin-bottom: 1.5em;
  &:last-child { margin-bottom: 0; }
}
input[type="submit"], input[type="button"], button, .cta {
  // Undo default button styles
  border: none;
  margin: 0;
  padding: .6em;
  border-radius: 3px;
  font: 600 16px/1.2 $content_font;
}
input[type="submit"], button[type="submit"] {
  color: #fff;
  background: $blue;
  -webkit-transition: background .5s;
  transition: background .5s;
  &:hover {
    background: $dark_blue;
  }
}
input[type="submit"], input[type="button"], button {
  cursor: pointer;
}
input[type="text"], input[type="email"], input[type="number"], input[type="password"], textarea {
  font: 500 16px/1.2 $content_font;
  border-radius: 3px;
  color: $dark_grey;
  border-width: 1px;
}
input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
}
input[type="number"] {
  width: 50px;
}
.r input[name="zip"] {
  width: 130px;
}
::-webkit-input-placeholder { font-family: $content_font; color: $grey; }
:-moz-placeholder { font-family: $content_font; color: $grey; }
::-moz-placeholder { font-family: $content_font; color: $grey;}
:-ms-input-placeholder { font-family: $content_font; color: $grey; }
label {
  color: $dark_grey;
}
form {
  border-radius: 3px;
  background: #e1e1e1;
  padding: 1em;
}

.cta {
  font-size: 1.2em;
  background-color: $orange;
  color: #fff;
}
.btns { text-align: right; }
.btns input, .btns button {
  margin-left: .5em;
}
.nav-entry li {
  margin: 2em 0;
}

/* Larger screen (e.g., desktop or laptop) */
@media screen and (min-width: 1000px) {
  .wrapper { max-width: 400px; }
}